{% extends "index.html" %}

{% block title %}Blog Posts{% endblock title %}

{% block content %}

<div class="container">

    <h1 class="my-3">Blog</h1>

    <div class="list-group">
        {% for post in post_list %}
            <div class="my-3">
                <div>{{ post.created|date }}</div>
                <h3><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>
                {% if user_authenticated %}
                    <div>
                        <h7><strong>{{ post.get_status_display }}</strong></h7>
                    </div>
                {% endif %}

                {% autoescape off %}
                    <div class="mb-5">
                        {{ post.content.html|truncatechars:256 }}
                    </div>
                {% endautoescape %}

                {% if user_authenticated %}
                    <div>
                        <a href="{% url 'admin:blog_blogpost_change' post.pk %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'admin:blog_blogpost_delete' post.pk %}" class="btn btn-danger">Delete</a>
                    </div>
                {% endif %}


                {% if not forloop.last %}
                    <hr/>
                {% endif %}
            </div>
        {% endfor %}
    </div>

</div>

{% endblock content %}
