{% extends "index.html" %}

{% block title %}Blog Posts{% endblock title %}

{% block content %}

<div class="container">

    <h1>Blog posts</h1>

    <div class="list-group">
        {% for post in post_list %}
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{ post.title }}</h5>
                  <small>{{ post.created|timesince}}</small>
                </div>
                {% if user_authenticated %}
                    <div>
                        <h7>{{ post.get_status_display }}</h7>
                    </div>
                  {% endif %}
                {% autoescape off %}
                    <div>
                        {{ post.content.html|truncatechars:256}}
                    </div>
                {% endautoescape %}

                {% if user_authenticated %}
                    <div>
                        <a href="{% url 'admin:blog_blogpost_change' post.pk %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'admin:blog_blogpost_delete' post.pk %}" class="btn btn-danger">Delete</a>
                    </div>
                {% endif %}

            </div>
        {% endfor %}
    </div>

</div>

{% endblock content %}
