{% extends "index.html" %}
{% block title %}Home{% endblock title %}

{% block content %}

    <div class="container">
        <div class="row my-5">
            <div class="col mt-5">
                <h3>Hello, I'm <span style="color: #B82601;">Sushen</span>, A Software Engineer From Melbourne</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate nisi mi, ut viverra sapien interdum quis. Cras ullamcorper nulla imperdiet neque vulputate auctor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed at massa et purus eleifend euismod. Duis commodo hendrerit tellus, scelerisque viverra neque tristique a. Sed ullamcorper ultricies lacus sed pulvinar. Integer consectetur quis neque nec pulvinar. Mauris turpis nisi, laoreet vitae mollis a, eleifend quis diam. Nulla id vulputate neque, scelerisque faucibus augue.</p>
            </div>
            <div class="col mb-5">
                <div class="d-flex justify-content-center">
                    <a href="#"><img src="https://via.placeholder.com/300"></a>
                </div>
            </div>
        </div>
        
        <div class="my-3"></div>

        <hr>

        <div class="row my-5">
            
        </div>
        
    </div>
    

{% endblock content %}
